{emailSubject}Shadow Assignment Points Awarded - {$assignment}{/emailSubject}
<h1>Updated points of shadow assignment '{$assignment}'</h1>

<p>
    The number of points awarded for the shadow assignment '{$assignment}'
    in the group '{$group}' has been modified.
</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Points</td>
        <td class="v">{$points}{if $maxPoints} out of {$maxPoints}{/if}</td>
    </tr>
</table>

{button($link, 'Open the shadow assignment')|noescape}
