{emailSubject}Hodnocení stínové úlohy změněno - {$assignment}{/emailSubject}
<h1>Změna hodnocení stínové úlohy '{$assignment}'</h1>

<p>
    Počet bodů přidělených za stínovou úlohu '{$assignment}' ve skupině '{$group}' byl změněn.
</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Body</td>
        <td class="v">{$points}{if $maxPoints} z {$maxPoints}{/if}</td>
    </tr>
</table>

{button($link, 'Otevřít stínovou úlohu')|noescape}
