{emailSubject}Assignment Points Updated - {$assignment}{/emailSubject}
<h1>Updated points of assignment '{$assignment}'</h1>

<p>The number of points awarded for the assignment has been modified.</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Group</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Assignment</td>
        <td class="v">{$assignment}</td>
    </tr>
    <tr>
        <td class="k">Points</td>
        <td class="v">{$points} out of {$maxPoints}</td>
    </tr>
    {if $hasBonusPoints}
    <tr>
        <td class="k">Bonus points</td>
        <td class="v">{$bonusPoints}</td>
    </tr>
    {/if}
</table>

{button($link, 'Open the assignment')|noescape}
