{emailSubject}Email Verification Request - {$email}{/emailSubject}
{if $firstTime}
<h1>Welcome to {$siteName}</h1>
<p>Your account associated with <strong>{$email}</strong> address was successfully created.</p>
{else}
<h1>Verification of email address {$email}</h1>
{/if}

<p>
    {$siteName} would like to verify your email address.
    Email verification is necessary to ensure correct functionality of all its services.
</p>

{button($link, 'Confirm the address')|noescape}

<p>
    The link will be active until <strong>{$expiresAfter}</strong>.
    A new link can be sent to you if you request the email validation in {$siteName} again.
</p>

{linkFallback($link, 'If the button does not work, open this address:')|noescape}

<p class="quiet">
    All your data, including the email address, are stored in compliance with GDPR.
</p>
