{emailSubject}Žádost o obnovu hesla - {$username}{/emailSubject}
<h1>Uživatel {$username} zažádal o obnovu hesla</h1>

<p>Své heslo můžete změnit na následující stránce:</p>

{button($link, 'Změnit heslo')|noescape}

<p>
    Tento odkaz Vám umožní změnit si heslo do <strong>{$expiresAfter}</strong>.
    Po této lhůtě přestane odkaz platit a budete si muset vyžádat nový.
</p>

{linkFallback($link, 'Pokud tlačítko nefunguje, otevřete tuto adresu:')|noescape}

<p class="quiet">
    Pokud jste o změnu hesla v aplikaci {$siteName} nežádali, tento e-mail prosím ignorujte.
</p>
