{emailSubject}User {$host} has invited you to {$siteName}!{/emailSubject}
<h3>{$siteName} Invitation</h3>
<p>
    You have been given an invitation to {$siteName} issued at name {$username}. The following link will allow you to proceed with registration: <a href="{$link}">{$link}</a>
</p>

<p>
    The invitation was created by <a href="mailto:{$hostmail}">{$host}</a> and it will expire at {$expireAt|localizedDate:'en'}.
</p>
