{emailSubject}Uživatel {$host} vás zve do aplikace {$siteName}!{/emailSubject}
<h3>Pozvánka do aplikace {$siteName}</h3>
<p>
    Byla vám vystavena pozvánka do aplikace {$siteName} na jméno {$username} s jejíž pomocí se můžete zaregistrovat: <a href="{$link}">{$link}</a>
</p>

<p>
    Pozvánku vám vystavil <a href="mailto:{$hostmail}">{$host}</a> a její platnost vyprší {$expireAt|localizedDate:'cs'}.
</p>
