{emailSubject}Nový komentář k řešení úlohy - {$assignment}{/emailSubject}
<h1>Nový komentář k řešení úlohy '{$assignment}'</h1>

<blockquote>{$comment}</blockquote>

<p>Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'} ke studentskému řešení úlohy '{$assignment}', která byla odevzdaná uživatelem '{$solutionAuthor}'.</p>

{if $otherComments > 0}
<p class="quiet">
    {if $otherComments == 1}Do diskuse mezi tím přibyl další komentář.
    {elseif $otherComments < 5}Do diskuse mezi tím přibyly {$otherComments} další komentáře.
    {else}Do diskuse mezi tím přibylo {$otherComments} dalších komentářů.{/if}
    Výše je ten poslední; ostatní najdete na stejné stránce.
</p>
{/if}

{button($link, 'Otevřít řešení')|noescape}
