{emailSubject}Nový komentář k referenčnímu řešení - {$exercise}{/emailSubject}
<h3>Nový komentář k referenčnímu řešení úlohy '{$exercise}'</h3>
<p><code>{$comment}</code></p>
<p>
    Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'}
    k referenčnímu řešení úlohy '{$exercise}', které
    bylo odevzdano uživatelem '{$solutionAuthor}'.
    Komentář je možné najít na stránce detailu referenčního řešení: <a href="{$link}">{$link}</a>.
</p>
{if $otherComments > 0}
<p>
    {if $otherComments == 1}Do diskuse mezi tím přibyl další komentář.
    {elseif $otherComments < 5}Do diskuse mezi tím přibyly {$otherComments} další komentáře.
    {else}Do diskuse mezi tím přibylo {$otherComments} dalších komentářů.{/if}
    Výše je ten poslední; ostatní najdete na stejné stránce.
</p>
{/if}
