{emailSubject}{if $requested}Požadavek na revizi řešení{else}Požadavek na revizi řešení byl zrušen{/if}{/emailSubject}
<h1>{if $requested}Nová žádost o revizi{else}Žádost o revizi{/if} řešení #{$attempt} úlohy '{$assignment}'{if !$requested} byla zrušena{/if}</h1>

<p>
    {if $requested}Byla vytvořena žádost o revizi zdrojových kódů{else}Žádost o revizi{/if} řešení
    <strong>#{$attempt}</strong>{if !$requested} byla zrušena{/if}.
</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Skupina</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Název úlohy</td>
        <td class="v">{$assignment}</td>
    </tr>
    <tr>
        <td class="k">Řešení</td>
        <td class="v">#{$attempt} z {$attempts}, odevzdáno {$submittedAt|localizedDate:'cs'}</td>
    </tr>
    <tr>
        <td class="k">Autor</td>
        <td class="v">{$author}</td>
    </tr>
</table>

<p n:if="$prevAttempt">
    Nová žádost nahrazuje předchozí žádost o revizi řešení #{$prevAttempt}
    (odevzdané {$prevSubmittedAt|localizedDate:'cs'}).
</p>

{button($link, 'Otevřít řešení')|noescape}
