{emailSubject}{if $accepted}Řešení bylo akceptováno{else}Akceptace řešení byla zrušena{/if}{/emailSubject}
<h1>Řešení #{$attempt} úlohy '{$assignment}' {if $accepted}bylo označeno jako akceptované{else}již není nadále označeno jako akceptované{/if}</h1>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Skupina</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Název úlohy</td>
        <td class="v">{$assignment}</td>
    </tr>
    <tr>
        <td class="k">Řešení</td>
        <td class="v">#{$attempt} z {$attempts}, odevzdáno {$submittedAt|localizedDate:'cs'}</td>
    </tr>
    <tr>
        <td class="k">Body za úlohu</td>
        <td class="v">{$points}{if $maxPoints} z {$maxPoints}{/if}</td>
    </tr>
</table>

<p n:if="$prevAttempt">
    Nově akceptované řešení nahrazuje řešení #{$prevAttempt}
    (odevzdané {$prevSubmittedAt|localizedDate:'cs'}), které bylo předtím označeno jako akceptované.
</p>

<p n:if="$accepted">
    Akceptované řešení má přednost před výsledky ostatních řešení, takže udělené body za danou úlohu
    zůstanou nezměněny, i když odevzdáte další řešení.
</p>

{button($link, 'Otevřít řešení')|noescape}
