{emailSubject}Odebrán komentář revize řešení{/emailSubject}
<h1>Z revize řešení {$comment->isIssue() ? 'byla odebrána připomínka k vyřešení' : 'byl odebrán komentář'}!</h1>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Skupina</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Název úlohy</td>
        <td class="v">{$assignment}</td>
    </tr>
    <tr>
        <td class="k">Řešení</td>
        <td class="v">#{$attempt}, odevzdáno {$submitted|localizedDate:'cs'}</td>
    </tr>
    <tr>
        <td class="k">Revize dokončena</td>
        <td class="v">{$closed|localizedDate:'cs'}</td>
    </tr>
</table>

<h2 n:if="$comment->getFile()">Odebráno od <code>{$comment->getFile()}:{$comment->getLine()}</code></h2>
<h2 n:if="!$comment->getFile()">Odebráno shrnutí revize</h2>

<blockquote>{$comment->getText()|markdown|noescape}</blockquote>

{button($codeUrl, 'Zobrazit celou revizi')|noescape}
