{emailSubject}Review comment updated{/emailSubject}
<h1>{$comment->isIssue() ? 'An issue' : 'A comment'} in a solution review was modified!</h1>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Assignment</td>
        <td class="v">{$assignment}</td>
    </tr>
    <tr>
        <td class="k">Group</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Solution</td>
        <td class="v">#{$attempt}, submitted at {$submitted|localizedDate:'en'}</td>
    </tr>
    <tr>
        <td class="k">Review closed</td>
        <td class="v">{$closed|localizedDate:'en'}</td>
    </tr>
</table>

<h2 n:if="$comment->getFile()">Updated at <code>{$comment->getFile()}:{$comment->getLine()}</code></h2>
<h2 n:if="!$comment->getFile()">Review summary updated</h2>

{if $oldText !== $comment->getText()}
<h3>Previous version</h3>
<blockquote>{$oldText|markdown|noescape}</blockquote>

<h3>New version</h3>
{/if}

<blockquote>{$comment->getText()|markdown|noescape}</blockquote>

<p n:if="$issueChanged">
    The type of the comment changed from
    <strong>{$comment->isIssue() ? 'a regular comment' : 'an issue'}</strong>
    to
    <strong>{$comment->isIssue() ? 'an issue' : 'a regular comment'}</strong>.
</p>

{button($codeUrl, 'Open the full review')|noescape}
