{emailSubject}Revize řešení znovu otevřena{/emailSubject}
<h1>Revize řešení byla znovu otevřena!</h1>

<p>
    Revize vašeho řešení byla <strong>znovu otevřena</strong> k úpravám.
    To znamená, že můžete očekávat další změny v komentářích a připomínkách k vyřešení.
</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Skupina</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Název úlohy</td>
        <td class="v">{$assignment}</td>
    </tr>
    <tr>
        <td class="k">Řešení</td>
        <td class="v">#{$attempt}, odevzdáno {$submitted|localizedDate:'cs'}</td>
    </tr>
    <tr>
        <td class="k">Revize dokončena</td>
        <td class="v">{$closed|localizedDate:'cs'}</td>
    </tr>
</table>

{button($detailUrl, 'Otevřít řešení')|noescape}
