{emailSubject}Řešení úlohy {$assignment} bylo přezkoumáno{/emailSubject}
<h1>Proběhla revize vašeho řešení!</h1>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Skupina</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Název úlohy</td>
        <td class="v">{$assignment}</td>
    </tr>
    <tr>
        <td class="k">Řešení</td>
        <td class="v">#{$attempt}, odevzdáno {$submitted|localizedDate:'cs'}</td>
    </tr>
    <tr>
        <td class="k">Výsledek revize</td>
        <td class="v">{if !$issues && !$comments}bez připomínek a komentářů{else}{count($issues)} připomínek k vyřešení, {count($comments)} komentářů{/if}</td>
    </tr>
</table>

{button($codeUrl, 'Zobrazit celou revizi')|noescape}

{if $summary}
<h2>Shrnutí revize</h2>
<blockquote n:foreach="$summary as $summaryComment">{$summaryComment->getText()|markdown|noescape}</blockquote>
{/if}

{if $issues}
<h2>Připomínky k vyřešení</h2>
{/if}
<div n:foreach="$issues as $issue">
    <h3>K řádku <code>{$issue->getFile()}:{$issue->getLine()}</code></h3>
    <blockquote>{$issue->getText()|markdown|noescape}</blockquote>
</div>

{if $comments && count($comments) <= 5}
<h2>Komentáře</h2>
<div n:foreach="$comments as $comment">
    <h3>K řádku <code>{$comment->getFile()}:{$comment->getLine()}</code></h3>
    <blockquote>{$comment->getText()|markdown|noescape}</blockquote>
</div>
{/if}
