{emailSubject}Exercise notification - {$exercise}{/emailSubject}
<h1>Exercise notification — '{$exercise}'</h1>

{if $message}
<p>
    User {$user} (<a href="mailto:{$email}">{$email}</a>) sent the following notification to all
    teachers who assigned exercise '{$exercise}' in their groups:
</p>
<blockquote>{$message}</blockquote>
{else}
<p>
    User {$user} (<a href="mailto:{$email}">{$email}</a>) sent a change notification to all
    teachers who assigned exercise '{$exercise}' in their groups.
    The notification bears no additional message.
</p>
{/if}

{button($link, 'Open the exercise')|noescape}
