{emailSubject}Nové odevzdání již revidované úlohy - {$assignment}{/emailSubject}
<h1>Nové odevzdání již revidované úlohy '{$assignment}'</h1>

<p>
    Uživatel <strong>{$user}</strong> odevzdal nové řešení zadané úlohy <strong>'{$assignment}'</strong>,
    které bylo ohodnoceno jako <strong>{$score}%</strong> správně.
</p>

<p>
    V této úloze již existuje jiné řešení studenta označené jako <strong>revidované</strong>
    a zároveň žádné řešení není <strong>akceptované</strong>.
    Mohlo by to znamenat, že uživatel odevzdává vylepšené řešení, které by mohlo stát za vaši pozornost.
</p>

{button($link, 'Zobrazit odevzdané řešení')|noescape}
