{emailSubject}Assignment Deadline Is Around the Corner - {$assignment}{/emailSubject}
<h1>Deadline for the assignment '{$assignment}' is approaching</h1>

<p>
    We would like to remind you that the deadline is approaching whilst your list
    of assignment solutions is still empty.
</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Group</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">First deadline</td>
        <td class="v">{$firstDeadline|localizedDate:'en'}</td>
    </tr>
    {if $allowSecondDeadline}
    <tr>
        <td class="k">Second deadline</td>
        <td class="v">{$secondDeadline|localizedDate:'en'}</td>
    </tr>
    {/if}
</table>

{button($link, 'Open the assignment')|noescape}
