{emailSubject}Nová úloha - '{$assignment}'{/emailSubject}
<h1>Byla zadána nová úloha '{$assignment}'</h1>

<p>Ve vaší skupině '{$group}' byla zadána nová úloha '{$assignment}'.</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Termín odevzdání</td>
        <td class="v">{$firstDeadline|localizedDate:'cs'}</td>
    </tr>
    {if $allowSecondDeadline}
    <tr>
        <td class="k">Druhý termín</td>
        <td class="v">{$secondDeadline|localizedDate:'cs'}</td>
    </tr>
    {/if}
    <tr>
        <td class="k">Počet pokusů</td>
        <td class="v">{$attempts}</td>
    </tr>
    <tr>
        <td class="k">Maximální počet bodů</td>
        <td class="v">{$points}</td>
    </tr>
</table>

{button($link, 'Otevřít úlohu')|noescape}
