{emailSubject}Nová stínová úloha - {$name}{/emailSubject}
<h1>Byla zadána nová stínová úloha '{$name}'</h1>

<p>
    Stínové úlohy slouží k poskytování výukových materiálů nebo k evidenci bodů za úkoly,
    které jsou odevzdávány mimo aplikaci {$siteName}.
</p>

<table role="presentation" class="facts" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="k">Skupina</td>
        <td class="v">{$group}</td>
    </tr>
    <tr>
        <td class="k">Název úlohy</td>
        <td class="v">{$name}</td>
    </tr>
    {if $maxPoints}
    <tr>
        <td class="k">Maximální počet bodů</td>
        <td class="v">{$maxPoints}</td>
    </tr>
    {/if}
</table>

{button($link, 'Otevřít úlohu')|noescape}
