{emailSubject}Vyřešení selhání vyhodnocení - {$title}{/emailSubject}
<h1>Administrátor vyřešil selhání vyhodnocení vašeho řešení úlohy '{$title}'</h1>

<p>
    Vaše řešení úlohy '{$title}' nebylo {$date|localizedDate:'cs'} správně vyhodnoceno.
    Administrátor po vyřešení problému zanechal následující komentář:
</p>

<blockquote>{$note}</blockquote>
