{emailSubject}Submission Failure Resolved - {$email}{/emailSubject}
<h1>The administrator has resolved the failure of your solution evaluation of '{$title}'</h1>

<p>
    Your submission of '{$title}' has failed its evaluation on {$date|localizedDate:'en'}.
    The administrator has resolved the problem with the following comment:
</p>

<blockquote>{$note}</blockquote>
